
 .main{
  display: flex;
  padding: 0%;
  height: calc(100vh);
  width: calc(100vw);
}
.spinner-div{
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.171);
  height: calc(100vh);
  width: calc(100vw);
  display: none;
  top: 0;
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  min-height: calc(100vh);
}
.nav-bar{
  display: flex;
  align-items: center;
  background-color: rgb(255, 52, 52);
  height: 80px;
  width: 100%;
}
.user-info{
  display: flex;
  gap: 10px;
  /* background-color: aqua; */
}
.prf-img{
  border: 1px solid white;
  border-radius: 50%;
  height: clamp(45px,10%,45px);
  width: clamp(45px,10%,45px);
}
.p-img{
  height: 100%;
  width: 100%;
}
.user-data{
  display: flex;
  flex-direction: column;
}
.cap-text{
  text-transform: capitalize;
}

.structure, .structure>form{
  display: flex;
  flex-direction: column;
}
.form-inp{
  display: flex
}
.error{
  display: none;
  font-size: 0.7em;
  font-weight: bold;
  padding-left: 10px;
  color: red;
}
/* .tweet-info>div{
  display: flex;
  flex-direction: column;
} */
.username{
  text-transform: capitalize;
  font-weight: 600;
}
.date{
  padding-top: 0px;
  font-size: 0.8em;
}
.tweet-content{
  padding: 0px 6%;
}
.tweet-txt{
  color: black;
  font-weight: normal;
}
.tweet-content img{
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  width: 100%;
}